/* line 1, ../sass/app.scss */
body {
  background: url(../img/grey_wash_wall.png);
}

/* line 4, ../sass/app.scss */
#masthead {
  background: url(../img/netrunnerLogo225_shadow.png) bottom right no-repeat;
}
/* line 6, ../sass/app.scss */
#masthead h1 {
  margin-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-bottom: 0.5em;
  color: #f4f4f4;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.25), 0 0 0 #990000;
}

/* line 16, ../sass/app.scss */
#main-content {
  margin-left: 1em;
}

/* line 20, ../sass/app.scss */
.button-form {
  float: left;
  margin: 0.25em;
}
/* line 23, ../sass/app.scss */
.button-form button {
  border-radius: 0.25em;
  background-color: #8DC2E3;
}
/* line 26, ../sass/app.scss */
.button-form button:hover {
  background-color: #ABD4ED;
}

/* line 32, ../sass/app.scss */
.help-button {
  float: right;
  margin: 0.25em 1em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: #8DC2E3;
}
/* line 38, ../sass/app.scss */
.help-button:hover {
  background-color: #ABD4ED;
}

/* line 43, ../sass/app.scss */
#containers-wrapper {
  clear: both;
}

/* line 47, ../sass/app.scss */
.timer-container {
  background-color: #fff;
  border: 1px solid gray;
  float: left;
  width: 25%;
  list-style: none;
  margin: 1%;
  border-radius: 0.25em;
}
/* line 55, ../sass/app.scss */
.timer-container .title {
  border: 1px solid lightgray;
  margin-right: 2em;
}
/* line 59, ../sass/app.scss */
.timer-container div {
  margin: 1em;
}
/* line 62, ../sass/app.scss */
.timer-container .delete.button, .timer-container .merge.button {
  float: right;
  clear: right;
  width: 12px;
  text-align: center;
  margin: 2px;
  padding: 0 4px;
  text-transform: lowercase;
  border: 1px solid lightgray;
  border-radius: 0.25em;
}
/* line 72, ../sass/app.scss */
.timer-container .delete.button.pressed, .timer-container .merge.button.pressed {
  background: lightgray;
}

/* line 78, ../sass/app.scss */
.active {
  background-color: #f4f4f4;
  border: 1px solid red;
}
/* line 81, ../sass/app.scss */
.active .timer {
  background: url(../img/clock.gif) no-repeat right center;
}

/* line 86, ../sass/app.scss */
.dialog-confirm {
  height: auto;
}

/* line 90, ../sass/app.scss */
#last-saved {
  float: left;
  clear: left;
  color: white;
  font-size: 0.6em;
  margin: 0.5em;
}

/* line 98, ../sass/app.scss */
#messages {
  padding: 0.25em;
  color: #CBFFB3;
  text-align: center;
}
