/**
 * @file - simple file to house our variables
 */
/**
 * @file - simple file to house our mixins
 */
/* line 5, ../sass/app.scss */
body {
  background: whitesmoke;
  color: #333333;
  font-family: sans-serif;
}
/* line 9, ../sass/app.scss */
body a {
  text-decoration: none;
}

/* line 14, ../sass/app.scss */
#page {
  margin: auto;
  max-width: 90%;
}

/* line 18, ../sass/app.scss */
#masthead {
  background: url(../img/netrunnerLogo225_shadow.png) bottom right no-repeat;
}
/* line 20, ../sass/app.scss */
#masthead h1 {
  color: #333333;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  padding-bottom: 0.5em;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.25), 0 0 0 #990000;
}

/* line 29, ../sass/app.scss */
.button-form {
  float: left;
  margin: 0.25em;
}
/* line 32, ../sass/app.scss */
.button-form button {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 10px;
  /* 9 */
  padding: 0.5rem 1rem;
  /* 9 */
  border: 1px solid #333333;
  background-color: #8dc2e3;
  color: #333333;
}
/* line 57, ../sass/mixins.scss */
.button-form button:hover {
  background-color: #b6d8ed;
}

/* line 37, ../sass/app.scss */
.help-button {
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 5px 10px;
  /* 9 */
  padding: 0.5rem 1rem;
  /* 9 */
  border: 1px solid #333333;
  background-color: #8dc2e3;
  color: #333333;
  background: #ff5656;
  float: right;
  margin: 0.25em 0;
}
/* line 57, ../sass/mixins.scss */
.help-button:hover {
  background-color: #b6d8ed;
}

/* line 45, ../sass/app.scss */
#containers-wrapper {
  clear: both;
}

/* line 49, ../sass/app.scss */
.timer-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.25em;
  box-shadow: 0px 8px 8px -7px #333333;
  float: left;
  list-style: none;
  margin: 1% 2% 1% 0;
  width: calc(23% - 2px);
}
/* line 58, ../sass/app.scss */
.timer-container .title {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  padding: 10px;
  /* 9 */
  padding: 1rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  margin-right: 20px;
  /* 9 */
  margin-right: 2rem;
  /* 9 */
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background: whitesmoke;
  border: 1px solid lightgray;
}
/* line 65, ../sass/app.scss */
.timer-container div {
  margin: 1em;
}
/* line 68, ../sass/app.scss */
.timer-container .delete.button, .timer-container .merge.button {
  border: 1px solid lightgray;
  border-radius: 0.25em;
  clear: right;
  float: right;
  width: 12px;
  margin: 2px;
  padding: 0 4px;
  text-align: center;
  text-transform: lowercase;
}
/* line 78, ../sass/app.scss */
.timer-container .delete.button.pressed, .timer-container .merge.button.pressed {
  background: lightgray;
}

/* line 84, ../sass/app.scss */
.active {
  background-color: gainsboro;
  border: 1px solid #ff5656;
}
/* line 87, ../sass/app.scss */
.active .timer {
  background: url(../img/clock.gif) no-repeat right center;
}
/* line 90, ../sass/app.scss */
.active .title {
  background: white;
  border: 1px solid #b3b3b3;
}

/* line 96, ../sass/app.scss */
.dialog-confirm {
  height: auto;
}

/* line 100, ../sass/app.scss */
#last-saved,
#total-time {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 7.5px;
  /* 9 */
  font-size: 0.75rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  margin: 13px 5px 5px 0;
  /* 9 */
  margin: 1.3rem 0.5rem 0.5rem 0;
  /* 9 */
  clear: left;
  color: #333333;
  float: left;
}

/* line 108, ../sass/app.scss */
#total-time {
  clear: right;
  float: right;
}

/* line 113, ../sass/app.scss */
#messages {
  color: #CBFFB3;
  padding: 0.25em;
  text-align: center;
}

/* line 119, ../sass/app.scss */
#footer {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 7.5px;
  /* 9 */
  font-size: 0.75rem;
  /* 9 */
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  /* 4 */
  /* 5 */
  padding: 10px 0;
  /* 9 */
  padding: 1rem 0;
  /* 9 */
  background-color: #8dc2e3;
  border-top: 1px solid #333333;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 128, ../sass/app.scss */
#footer a {
  color: whitesmoke;
}
/* line 130, ../sass/app.scss */
#footer a:focus, #footer a:hover {
  color: #333333;
  text-decoration: underline;
}
