@import "compass/css3";
@import "variables";
@import "mixins";

body {
  background: $white;
  color: $black;
  font-family: sans-serif;
  a {
    text-decoration: none;
  }
}

#page {
  margin: auto;
  max-width: 90%;
}
#masthead {
  background: url(../img/netrunnerLogo225_shadow.png)  bottom right no-repeat;
  h1 {
    color: $black;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    padding-bottom: 0.5em;
    text-shadow: .05em .05em .05em rgba(#000,.25), 0 0 0 hsl(0,100%,30%);
  }
}

.button-form {
  float: left;
  margin: 0.25em;
  button {
    @include button;
  }
}

.help-button {
  @include button;
  background: $red;
  float: right;
  margin: 0.25em 0;
  // padding: 0.25em 0.5em;
}

#containers-wrapper {
  clear: both;
}

.timer-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.25em;
  box-shadow: 0px 8px 8px -7px $black;
  float: left;
  list-style: none;
  border-radius: 0.25em;
  .timer {
    margin-right: 2em;
  }
  margin: 1% 2% 1% 0;
  width: calc(23% - 2px);
  .title,
  .description {
    @include rem(padding, 1rem);
    @include rem(margin-right, 2rem);
    @include border-radius-default;
    background: $white;
    border: 1px solid lightgray;
  }
  div {
    margin: 1em;
  }

  .button {
    float: right;
  }
  .delete.button,
  .edit.button,
  .merge.button,
  .expand.button {
    border: 1px solid lightgray;
    border-radius: 0.25em;
    clear: right;
    float: right;
    width: 12px;
    margin: 2px;
    padding: 0 4px;
    text-align: center;
    text-transform: lowercase;
    &.pressed {
      background: lightgray;
    }
  }
}

.active {
  background-color: darken($white, 10%);
  border: 1px solid $red;
  .timer {
    background: url(../img/clock.gif) no-repeat right center ;
  }
  .title,
  .description {
    background: white;
    border: 1px solid lighten($black, 50%);
  }
}

.dialog-confirm {
  height: auto;
}

#last-saved,
#total-time {
  @include rem(font-size, 0.75rem);
  @include rem(margin, 1.3rem 0.5rem 0.5rem 0);
  clear: left;
  color: $black;
  float: left;
}
#total-time {
  clear: right;
  float: right;
}

#messages {
  color: #000;
  padding: 0.25em;
  text-align: center;
}

#footer {
  @include rem(font-size, 0.75rem);
  @include rem(padding, 1rem 0);
  background-color: $blue;
  border-top: 1px solid $black;
  clear: both;
  text-align: center;
  width: 100%;
  a {
    color: $white;
    &:focus,
    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }
}
