

.timer-container {
  border: 1px solid gray;
  float: left;
  width: 25%;
  list-style: none;
  margin: 1%;
  border-radius: 0.25em;
  .title {
    border: 1px solid lightgray;
  }
  div {
    margin: 1em;
  }
}

.active {
  background-color: #f4f4f4;
}