body {
  background: url(../img/grey_wash_wall.png);
}
#masthead {
  background: url(../img/netrunnerLogo225_shadow.png)  bottom right no-repeat;
  h1 {
    margin-left: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-bottom: 0.5em;
    color: #f4f4f4;
    text-shadow: .05em .05em .05em rgba(#000,.25), 0 0 0 hsl(0,100%,30%);
  }
}

#main-content {
  margin-left: 1em;
}

.button-form {
  float: left;
  margin: 0.25em;
  button {
    border-radius: 0.25em;
    background-color: #8DC2E3;
    &:hover {
      background-color: #ABD4ED;
    }
  }
}

.help-button {
  float: right;
  margin: 0.25em 1em;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: #8DC2E3;
  &:hover {
    background-color: #ABD4ED;
  }
}

#containers-wrapper {
  clear: both;
}

.timer-container {
  background-color: #fff;
  border: 1px solid gray;
  float: left;
  width: 25%;
  list-style: none;
  margin: 1%;
  border-radius: 0.25em;
  .title {
    border: 1px solid lightgray;
    margin-right: 2em;
  }
  div {
    margin: 1em;
  }
  .delete.button, .merge.button {
    float: right;
    clear: right;
    width: 12px;
    text-align: center;
    margin: 2px;
    padding: 0 4px;
    text-transform: lowercase;
    border: 1px solid lightgray;
    border-radius: 0.25em;
    &.pressed {
      background: lightgray;
    }
  }
}

.active {
  background-color: #f4f4f4;
  border: 1px solid red;
  .timer {
    background: url(../img/clock.gif) no-repeat right center ;
  }
}

.dialog-confirm {
  height: auto;
}

#last-saved,
#total-time {
  float: left;
  clear: left;
  color: white;
  font-size: 0.6em;
  margin: 0.5em;
}
#total-time {
  float: right;
  clear: right;
  margin-right: 1.5em;
}

#messages {
  padding: 0.25em;
  color: #CBFFB3;
  text-align: center;
}